<% if @model == 'user' %>
  <h3>ユーザー 検索 "<%= @content %>"</h3>
  <%= render 'users/index', users: @records %>
<% elsif @model == 'book' %>
  <h3>本 検索 "<%= @content %>"</h3>
  <%= render 'books/index', books: @records %>
<% end %>

