// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.button_wrapper{
   text-align:center;
}

.row_follow{
  display: table;
  margin: auto;
}

.mt-3{
  display:flex;
  border-top:solid;
  line-height: 2.2;
}

.card-group{
  font-size:x-large;
  justify-content:space-evenly;
}

.ranking{
  display:flex;
  line-height: 2.2;
  font-family:serif;
  border-bottom: solid;
  border-color: red;

}

.timeline-title {
   display: flex;
   margin: revert;
   border-top:solid;
   line-height: 3;
 }

